.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexItem {
    margin: 8px;
}

.removeExercise{
    float:right;
}

.exercise {
    margin: 29px 10px 10px 10px;
}

b.exerciseName {
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px;
}

.showSection{
    display: block;
}
.hideSection{
    display: none;
}

.nextStep{
    margin:30px;
}
.showSection{
    text-align: center;
}

.nextIcon{
    font-size: 50px;
}

.prescription_input{
    margin-top: 8px;
}

ion-label#ion-input-5-lbl.doe{
    font-size: 20px;
}

.backBtn{
    display: block;
    align-self:left;
    font-size: 25px ;
    margin: 7px;
}

